include README.md
include LICENSE
include .env.example
include pytest.ini
recursive-include static *
recursive-include tests *
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
global-exclude .env